# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# Logs e temporarios
*.log
*.tmp
*.bak
*.orig
*.cache

# Builds gerais
build/
dist/
out/
.cache/

# PlatformIO / ESP32
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF
sdkconfig.old
managed_components/
dependencies.lock

# Arduino
*.hex
*.elf
*.bin

# Python auxiliar
__pycache__/
*.py[cod]
.venv/
venv/

# KiCad
*-backups/
*.kicad_prl
fp-info-cache

# Relatorios gerados
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
